.search {
  box-sizing: border-box;
  max-width: 258px;
  width: 100%;
  background-image: url('../../assets/search-icon.svg');
  background-repeat: no-repeat;
  background-position: 18px 19px;
  background-size: 13px 12px;
  padding: 15px 30px 18px 44px;
  font-size: 14px;
  font-weight: 400;
  line-height: 19px;
}
