:root {
  --primary-font: 'Open Sans', sans-serif;
  --primary-color: #fe724c;
  --primary-color-hover: #be3203;
  --background-color: #ffffff;

  --main-text-color: #000;
  --secondary-text-color: #5b5b5e;

  --input-color: #c4c4c4;
  --input-placeholder-text: #9aa0b4;
  --input-border: 1px solid #eee;
  --inpur-outline: 1px solid var(--primary-color);
  --input-border-radius: 10px;
  --search-input-background-color: #fcfcfd;

  --button-text-color: #ffffff;
  --button-radius: 28px;

  --button-small-width-size: 117px;
  --button-small-height-size: 43px;

  --button-medium-width-size: 141px;
  --button-medium-height-size: 44px;

  --button-large-width-size: 248px;
  --button-large-height-size: 60px;

  --border-color: #d4d6e0;
}

body {
  box-sizing: border-box;
  font-family: var(--primary-font);
  margin: 0;
}
